<!DOCTYPE html>

<html>
    <head>
        <title>Who Am I?</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>header}}
        <div class="main-content-tentang">
            <img class="profile" src="/img/Asyrof.jpg">
            <div class="text">
                <h2>MUHAMMAD ASYROF</h2>
                <p>
                    Mahasiswa semester 5 jenjang studi S1 Teknik Informatika dari Universitas Negeri Padang. 
                    Memiliki ketertarikan mendalam pada dunia teknologi informasi dan digital. 
                    Memiliki kemampuan di dunia IT dalam pengembangan website dan aplikasi menggunakan Javascript, C, C++, Python Languages.
                    Berdedikasi untuk menjadi programmer di perusahaan besar IT luar negeri.
                </p>
                <br>

                <p>
                    <img src="/img/mail.png" width="16px">
                    <a href="mailto:muhammadasyrof79@gmail.com">muhammadasyrof79@gmail.com</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/img/telfon.png" width="16px">
                    <a href="https://wa.link/qr5niq">081240490432</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <img src="/img/linkedin.png" width="16px">
                    <a href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3By2o2NBiTRoS77MqK1sLcZg%3D%3D">Muhammad Asyrof</a>
                </p>
            </div>
        </div> 
        <div class="isian-bawah">
            <div class="biodata-pendidikan">
            
            <h2>BIODATA</h2>
            <li>
                Nama &nbsp;&nbsp;&nbsp; : Muhammad Asyrof
            </li>
            <br>
            <li>
                TTL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Bandung, 25 Desember 2002
            </li>
            <br>
            <li>
                Alamat &nbsp : Jl. Agraris 1 No.2 Tanimulya Indah 
            </li>
            <br>
            <h2>PENDIDIKAN</h2>
            <li>
                <b>UNIVERSITAS NEGERI PADANG</b>
            </li>
            <p>
                S1 - Teknik Informatika (2021-Sekarang)
            </p>
            <li>
                <b>SMAN 1 WONOMULYO</b>
            </li>
            <P>
                MIPA (2018-2021)
            </p>
            </div>
            <div class="keterampilan">
                <h2>KETERAMPILAN</h2>
                <li><b>Programming Languages</b></li>
                    <p>
                        C, C++, Python, JavaScript
                    </p>

                <li><b>Web Development</b></li>
                    <p>
                        HTML, CSS, Node.js
                    </p>
                <li><b>Database Management</b></li>
                    <p>
                        MySQL
                    </p>
              </div>
          </div>
        {{>footer}}
    </body>

</html>
